.middle{
    position: relative;
   padding: 2rem;
   z-index: 2;
   min-height: 72vh;
  
  }

.wa{
    cursor: pointer;
    text-decoration: none;
    display: flex;
    background-color: #25D366;
    padding: 1rem;
    color:white;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border:none;
    margin:1rem;
}

.wa p{

    padding-top: 5px;
    padding-left: 6px;
    padding-right: 9px;
}

.tel{
    cursor: pointer;
    text-decoration: none;
    display: flex;
    background-color: #3977ac;
    padding: 1rem;
    color:white;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border:none;
    margin:1rem;
}
.tel p {

    padding-top: 5px;
    padding-left: 6px;
}

.cobu{
    cursor: pointer;
    text-decoration: none;
    display: flex;
    background-color: #3977ac;
    padding: 1rem;
    color:white;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border:none;
    margin:1rem;

}
