*{
  margin: 0;
  padding: 0;
}
html {

  scroll-behavior: smooth;
}

body {
  background-color: #ffeec9;
}

a {
  text-decoration: none;
}

h1{
  padding: 2rem;
}

@font-face {
  font-family: Dancing;
  src: url(../public/DancingScript-SemiBold.ttf);
}

h3{
  font-family: Dancing;
  font-size: xx-large;

}


.padding {

  padding: 2rem;
}
.vitali{

  padding: 2rem ;
  list-style: inside;
}
.vitali p {
  padding: 2rem;
}
.fotovita{

  width: 300px;
  padding-left: 10%;

 
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.swiper-slide img{
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 1;
  
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  background-color:white;
}

.swiper {
  width: 100%;
  height: 100%;
 
}

.swiper-button-prev {
  color: rgb(0, 0, 0) !important;
}

.swiper-button-next {
  color: rgb(0, 0, 0) !important; 
}
 

.text1, .text2, .text3, .text4, .text5{ 
  position:absolute;
 color: black;
 
 
 background-color: aliceblue;
 opacity: 0.8;
 font-weight: 530;
 padding: 1rem ;

}
@media screen and (min-width:425px){
  .swiper{
    height: 100vh;
  }
}




.ctext{

  align-self: center;
}


.name ,.email,.message{

display: flex;
align-items: center;
display: flex;
justify-content: center;
background:rgb(230, 230, 230);
width: 50%;
border-radius: 14px;
font-size: 1rem;
padding: .25em;
border: 1px solid #333;
flex-direction: column;
margin-bottom: .5rem;
gap: .25em;


}

.name ,.email{

  width: 40%;
}
.name {

  margin-top: 1rem;
}
.footer {
  font-size: small;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: #222526;
  padding-left: 2rem;
  
  color: white;
  z-index: 2;
  position: relative;
  
  width: 100vw;
  
}

@media  screen and (max-width:750px) {

  
  .name ,.email,.message{
  
    width: 250px;
  
  
  
  }}