
.breath {
 height: 300px;
 width: 300px;
 position: absolute;
  top: 50%;
  left:50%;
 z-index: 2;
 transform: translate(-50%, -50%);
}

.first {
  height: 100vh;
}

.middle{
  position: absolute;
  top: 50%;
  left:50%;
 z-index: 2;
 transform: translate(-50%, -50%);
}

.cta{

  border-radius: 100vh;
  border: 2px solid;
  border-color: aliceblue;
  padding: 1rem 2rem;
  background-color: black;
  color: aliceblue;
  margin: auto;

}
.cta:hover{

  border-radius: 100vh;
  border: 2px solid;
  border-color: black;
  padding: 1rem 2rem;
  background-color: aliceblue;
  color: black;
  margin: auto;

}


.water {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
}
.eingang p {

  padding: 2rem;
}
.eingang  h3{

  padding: 2rem;
}

.eingang {
  
  
  z-index: 2;
  position: relative;

 
}
.hauptseite {
  z-index: 2;
  position: relative;
 

}
.hauptseite2 {
  z-index: 2;
  position: relative;
 
  

}
.hauptseite p {
  padding: 2rem;
}
.hauptseite h2 {
  padding: 2rem;
}
.hauptseite li {
  padding-left: 2rem;
  padding-top: 1rem;
  list-style: inside;
}
.hauptseite2 p {
  padding: 2rem;
}
.hauptseite2 h3 {
  padding: 1rem 2rem;
}
.hauptseite2 li {
  padding: 1rem 2rem;
  list-style: inside;
}